/* CSS Document */

.lds-heart {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);
    transform-origin: 60px 60px;
    border-radius: 100%;
}

.lds-heart div {
    top: 40px;
    left: 40px;
    position: absolute;
    width: 60px;
    height: 60px;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    box-shadow: #ff00aa 0 0 10px;
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    box-shadow: #FF0047 0 0 10px;
}

.lds-heart div:before {
    left: -27px;
    /* border-radius: 50% 0 0 50%; */
    border-radius: 50%;
}

.lds-heart div:after {
    top: -27px;
    /* border-radius: 50% 50% 0 0; */
    border-radius: 50%;
}

.center-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
    background: #FF0047;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}